<div class="container">
	<div class="footer-top">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-footer-widget">
					<div class="footer-logo">
						<a href="index.html">REMOVIE</a>
					</div>
					<p>
						Khám phá thế giới phim ảnh với REMOVIE - nơi để bạn thưởng thức và khám phá các tác phẩm điện ảnh.
					</p>
					<div class="footer-contact">
						<p>info@filmhub.com</p>
						<p>+1 (885) 2563154554</p>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="single-footer-widget">
					<h2>about devloon</h2>
					<ul>
						<li><a href="#">about us</a></li>
						<li><a href="#">career</a></li>
						<li><a href="#">terms<span>of service</span></a></li>
						<li><a href="#">privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-xs-12">
				<div class="single-footer-widget">
					<h2>Top rạp ở Việt Nam</h2>
					<div class="row">
						<div class="col-md-7 col-xs-6">
							<ul>
								<li><a href="#">BHD</a></li>
								<li><a href="#">CGV</a></li>
								<li><a href="#">Galaxy Cinema</a></li>
								<li><a href="#">Lotte Cinema</a></li>
							</ul>
						</div>
						<div class="col-md-5 col-xs-6">
							<ul>
								<li><a href="#">Mega GS</a></li>
								<li><a href="#">Cinestar</a></li>
								<li><a href="#">Beta Cinema</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-6">
				<div class="single-footer-widget">
					<h2>Thông báo mới</h2>
					<div class="footer-newsletter">
						<p>Đăng ký để nhận cập nhật tin tức và thông tin mới nhất</p>
					</div>
					<div class="hm-foot-email">
						<div class="foot-email-box">
							<input type="text" class="form-control" placeholder="Thêm Email">
						</div>
						<div class="foot-email-subscribe">
							<span>
								<i class="fa fa-arrow-right"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="row">
			<div class="col-sm-6">
				<p>&copy; Bản quyền thuộc về REMOVIE
			</div>
			<div class="col-sm-6">
				<div class="footer-social">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="#">
						<i class="fa fa-pinterest-p"></i>
					</a>
					<a href="#">
						<i class="fa fa-behance"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="scroll-Top">
	<div class="return-to-top">
		<i class="fa fa-angle-up" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
	</div>
</div>

