<div class="top-area">
	<div
		class="header-area">
		<!-- Start Navigation -->
		<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			<div
				class="container">

				<!-- Start Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="{{path('app_user_page')}}">REMOVIE<span></span>
					</a>

				</div>
				<!--/.navbar-header-->
				<!-- End Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu"> <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
						<li class="scroll active">
							<a href="#home">Trang chủ</a>
						</li>
						<li class="scroll">
							<a href="#service">Dịch vụ</a>
						</li>
						<li class="scroll">
							<a href="#featured-cars">Nổi bật</a>
						</li>
						<li class="scroll">
							<a href="#new-cars">Phim mới</a>
						</li>
						<li class="scroll">
							<a href="#brand">Thương hiệu</a>
						</li>
						<li class="">
							<a href="#contact">Liên hệ</i></a>
						</li>
					</ul>
					<!--/.nav -->
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->
		<!-- End Navigation -->
	</div>
	<!--/.header-area-->
	<div class="clearfix"></div>

</div>
<!-- /.top-area-->
<!-- top-area End -->

<div class="container">
	<div class="welcome-hero-txt">
		<h2>Khám phá thế giới điện ảnh theo dòng thời gian</h2>
		<p>
			Khám phá và cập nhật thông tin mới nhất về hàng ngàn bộ phim đa dạng từ mọi thể loại và quốc gia. Nơi bạn có thể đắm mình trong không gian điện ảnh
		</p>
		<button class="welcome-btn">
			<a style="color:white" href="#contact">Liên hệ</a>
		</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="model-search-content">
				<form id="search-form" action="#" method="GET">
					<div class="row">
						<div class="col-md-offset-1 col-md-2 col-sm-12">
							<div class="single-model-search">
								<h2>Tìm kiếm theo</h2>
								<div class="model-select-icon">
									<select class="form-control" name="search_field" id="search_field">
										<option value="name">Thể loại</option>
										<option value="title">Tên phim</option>
									</select>
									<!-- /.select-->
								</div>
								<!-- /.model-select-icon -->
							</div>
						</div>
						<div class="col-md-offset-1 col-md-4 col-sm-12">
							<div class="single-model-search">
								<h2>Nội dung tìm kiếm</h2>
								<div class="model-select-icon">
									<input
									type="text" name="search_query" class="form-control" placeholder="Nhập nội dung...">
								<!-- /.input -->
								</div>
								<!-- /.model-select-icon -->
							</div>
						</div>
						<div class="col-md-2 col-sm-12">
							<div class="single-model-search text-center">
								<button class="welcome-btn model-search-btn" type="submit">
									search
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
