<div class="container">
    <div class="section-header">
        <p>Những bộ phim mới nhất</p>
        <h2>phim mới</h2>
    </div>
    <!--/.section-header-->
    <div class="new-cars-content">
        <div class="owl-carousel owl-theme" id="new-cars-carousel">
            {% for movie in movies %}
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img style="width:653px; height:296px" src="{{ movie.img }}" alt="img"/>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2>
                                        <a href="#">{{ movie.title }}</a>
                                    </h2>
                                    {% set words = movie.decription|split(' ') %}
                                    {% set limited_decription = words|slice(0, 65)|join(' ') %}
                                    {% if words|length > 65 %}
                                        <p>{{ limited_decription }}...</p>
                                    {% else %}
                                        <p>{{ movie.decription }}</p>
                                    {% endif %}
                                    <button class="welcome-btn new-cars-btn" onclick="#">Xem chi tiết</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>