<!doctype html>
<html class="no-js" lang="en">

	{% include 'user_page/block/head.html.twig' %}

	<body>

		<!--welcome -->
		<section id="home" class="welcome-hero">

			{% include 'user_page/block/home.html.twig' %}

		</section>

		<!--service -->
		<section id="service" class="service">

			{% include 'user_page/block/service.html.twig' %}

		</section>

		<!-- new -->
		<section id="new-cars" class="new-cars">

			{% include 'user_page/block/new.html.twig' %}

		</section>

		<!-- featured -->
		<section id="featured-cars" class="featured-cars">

			{% include 'user_page/block/featured.html.twig' %}

		</section>

		<!-- clients-say -->
		<section id="clients-say" class="clients-say">

			{% include 'user_page/block/clientsay.html.twig' %}

		</section>

		<!-- brand  -->
		<section id="brand" class="brand">

			{% include 'user_page/block/brand.html.twig' %}

		</section>

		<!--contact start-->
		<footer id="contact" class="contact">

			{% include 'user_page/block/contact.html.twig' %}

		</footer>

		{% include 'user_page/block/endscript.html.twig' %}

	</body>

</html>
